body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

#webview-message {
    font-size: 1.5em;
    color: red;
}

#info-list {
    list-style-type: none;
    padding: 0;
}

#info-list li {
    margin-bottom: 8px;
    text-align: left;
}
