body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

#content {
    height: 100%;
    overflow: auto;
}

#csv-table {
    border-collapse: collapse;
    width: 100%;
}

#csv-table th, #csv-table td {
    padding: 5px;
    border: 1px solid #ccc;
    text-align: left;
}

#csv-table thead {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
    z-index: 2;
}
